<div *ngIf="showSpinner" id="spinnerModal" class="modal fade show d-block" aria-modal="true">
	<div class="modal-dialog modal-dialog-centered modal-confirm">
		<div class="modal-content">
			<div class="modal-body text-center">				
        <div class="d-flex d-flex justify-content-center align-items-center">          
          <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
          <strong class="ms-3">Please Wait...</strong>
        </div>
			</div>
		</div>
	</div>
</div>