<form #signupForm="ngForm">
  <div class="row mb-2">
    <div class="col-12 fs-6 m-1">First Name</div>
    <div class="input-group col-12 m-1">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
      <input ngModel required  pattern="/[^a-z ]*$/gmi" name="firstName" type="text" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 fs-6 m-1">Last Name</div>
    <div class="input-group col-12 m-1">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
      <input ngModel required  pattern="/[^a-z ]*$/gmi" name="lastName" type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 fs-6 m-1">Email ID</div>
    <div class="input-group col-12 m-1">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
      <input ngModel required email name="email" type="text" class="form-control" placeholder="Email ID" aria-label="Email ID" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="row">
    <div class="col-12 fs-6 m-1">Password</div>
    <div class="input-group col-12 m-1">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
      <input ngModel required minlength="6" name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="row">
    <div class="col-12 fs-6 m-1">Confirm Password</div>
    <div class="input-group col-12 m-1">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
      <input ngModel required name="password2" type="password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 fs-6 m-1 text-center">
      <button class="btn btn-light text-dark shadow-lg fw-bold" [disabled]="!signupForm.valid">Sign Up</button>
    </div>
  </div>
</form>
