<div class="row">
  <div class="col-12">
    <div class="mb-3 buttons text-center">
      <button
        class="btn btn-outline-warning cart btn-sm me-1"
        onclick="document.getElementById('photoUpload').click()"
      >
        Upload Photos
      </button>
      <input
        class="form-control d-none"
        type="file"
        id="photoUpload"
        accept="image/*"
        (change)="onFileChange($event)"
      />
    </div>
  </div>
</div>

<button
  #openModal
  class="btn btn-link fw-bold d-none"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal1"
  aria-expanded="false"
  role="button"
  type="submit"
>
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Crop image to select
        </h5>
        <button
          #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <image-cropper
            #cropper
            class="card border p-1"
            style="margin-right: 3px"
            [imageChangedEvent]="imgChangeEvt"
            [maintainAspectRatio]="true"
            [autoCrop]="false"
            [aspectRatio]="
              +product.aspectRatio.split(':')[0] /
              +product.aspectRatio.split(':')[1]
            "
            format="png"
            (imageCropped)="cropImg($event)"
          >
          </image-cropper>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" (click)="cropPhoto()">
          Crop & Select
        </button>
      </div>
    </div>
  </div>
</div>

<div class="upload card mt-2">
  <div
    class="
      row
      justify-content-center
      mx-2
      similar-products
      mt-2
      d-flex
      flex-row
    "
  >
    <div
      *ngFor="let preview of previews; let i = index"
      class="card col-2 border p-1"
      style="width: 9rem; margin-right: 3px"
    >
      <img [src]="preview" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6 class="card-title">{{ i + 1 }} of {{ previews.length }}</h6>
      </div>
    </div>
  </div>
  <span class="mt-2"
    >Your Prints: {{ previews.length }} photos selected.
    <p class="fw-bold">
      Total Price : {{ product.price }} X {{ previews.length }} =
      <span class="total rounded-3 p-1 mt-2"
        >Rs. {{ product.price * previews.length | number: "1.2-2" }}</span
      >
    </p>
  </span>
</div>
