<ion-content [fullscreen]="true">
  
  <app-header></app-header>
 <!-- Carousal Banners Starts -->
 <div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="assets/images/curousal/photo-tiles.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption rounded-3">
        <h3 class="cap-head text-light fw-bolder">Photo Tiles</h3>
        <p class="text-light d-none d-sm-block">Do you want a cool wall in your room?</p>
        <button class="btn btn-primary text-light rounded-0 fw-bold">Order Now</button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/images/curousal/canvas.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption rounded-3">
        <h3 class="cap-head text-light fw-bolder">Canvas</h3>
        <p class="text-light d-none d-sm-block">Every room needs some canvas.</p>
        <button class="btn btn-primary text-light rounded-0 fw-bold">Order Now</button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/images/curousal/photo-books.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption rounded-3">
        <h3 class="cap-head text-light fw-bolder">Photo Books</h3>
        <p class="text-light d-none d-sm-block">Use pictures to tell your story.</p>
        <button class="btn btn-primary text-light rounded-0 fw-bold">Order Now</button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/images/curousal/calendars.jpg" class="d-block w-100 cal-img-pos" alt="...">
      <div class="carousel-caption rounded-3">
        <h3 class="cap-head text-light fw-bolder">Calendars</h3>
        <p class="text-light d-none d-sm-block">Giving your calendars a apecial touch.</p>
        <button class="btn btn-primary text-light rounded-0 fw-bold">Order Now</button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/images/curousal/post-cards.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption rounded-3">
        <h3 class="cap-head text-light fw-bolder">Post Cards</h3>
        <p class="text-light d-none d-sm-block">Make you messages and wishes even more heartfelt.</p>
        <button class="btn btn-primary text-light rounded-0 fw-bold">Order Now</button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/images/curousal/diary.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption rounded-3">
        <h3 class="cap-head text-light fw-bolder">Diary</h3>
        <p class="text-light d-none d-sm-block">Personalise to add something to look into everyday.</p>
        <button class="btn btn-primary text-light rounded-0 fw-bold">Order Now</button>
      </div>
    </div> 
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 <!-- Carousal Banners Ends -->
  <app-product-list></app-product-list>


  <app-footer></app-footer>
</ion-content>

