<div class="container bootstrap snippets bootdey">
  <div class="row mb-4">
    <div class="profile-nav col-12">
        <div class="panel">
            <div class="row user-heading round fs-6">
                <a href="#">
                    <!-- <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt=""> -->
                    <i class="fa fa-user-circle fs-1"></i>
                </a>
                <h1>{{user.firstName}} {{user.lastName}}</h1>
                <p><i class="fa fa-envelope"></i>{{user.email}}</p>
                <p><i class="fa fa-phone"></i> +91 {{user.mobile}}</p>
            </div>
        </div>
    </div>
    <div class="profile-info col-12">
        <div class="panel">
            <div class="panel-body bio-graph-info">
                <h1 class="fw-bold">Profile</h1>
                <div class="col-12 col-sm-6 mb-2">
                    <ul class="nav nav-pills nav-stacked">
                        <!-- <li class="active"><a href="#"> <i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li> -->
                        <li><a (click)="toggleEditProfile()"> <i class="fa fa-edit"></i>{{showEditProfile ? "Hide" : ""}} Edit profile</a></li>
                    </ul>
                </div>
                <div *ngIf="!showEditProfile" class="row">
                    <!-- <app-edit-profile></app-edit-profile> -->
                    <div class="col-12 col-sm-6">
                        <p><span class="fw-bold">First Name </span>: {{user.firstName}}</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <p><span class="fw-bold">Last Name </span>: {{user.lastName}}</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <p><span class="fw-bold">Email</span>:  {{user.email}}</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <p><span class="fw-bold">Mobile</span>: +91 {{user.mobile}}</p>
                    </div> 
                    <div class="col-12 col-sm-6">
                        <p><a (click)="openPasswordChange()"> <i class="fa fa-edit"></i>Change Password</a></p>
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-edit-profile *ngIf="showEditProfile" (onSaveSuccess)="saveProfile()"></app-edit-profile>
    </div>
  </div>

  <div class="profile-info col-12 mb-3">
    <div class="panel">
        <div class="panel-body bio-graph-info">
            <h1 class="fw-bold">Delivery Address (India Only)</h1>
            <div class="col-12 col-sm-6 mb-2">
                <ul class="nav nav-pills nav-stacked">
                    <!-- <li class="active"><a href="#"> <i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li> -->
                    <li><a (click)="toggleEditAddress()"> <i class="fa fa-edit"></i>{{!user?.address?.pinCode ? "Add" : "Update"}} Address</a></li>
                </ul>
            </div>
            <div *ngIf="!showEditAddress" class="row">
                <!-- <app-edit-profile></app-edit-profile> -->
                <div *ngIf="user?.address?.pinCode"  class="col-12">
                    <p><span class="fw-bold">{{user.firstName}} {{user.lastName}}</span></p>
                    <p><span class="fw-bold">{{user?.address?.building}}</span></p>
                    <p><span class="fw-bold">{{user?.address?.area}}</span></p>
                    <p><span class="fw-bold">{{user?.address?.landmark}}</span></p>
                    <p><span class="fw-bold">{{user?.address?.city}}, {{user?.address?.state}}</span></p>
                    <p><span class="fw-bold">Pin: {{user?.address?.pinCode}}</span></p>
                    <p><span class="fw-bold">Contact: {{user.mobile}}</span></p>
                </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
          <app-edit-address *ngIf="showEditAddress" (onSaveSuccess)="saveAddress()"></app-edit-address>
        </div>
      </div>
</div>