<form name="signInForm" #siF="ngForm" (ngSubmit)="onSubmit(siF)">
  <div class="row mb-2">
    <div class="col-12 fs-6 m-1">Email ID</div>
    <div class="input-group col-12 m-1">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
      <input 
        required email maxlength="50" [(ngModel)]="user.email" #eMail="ngModel"
        name="email" 
        type="email" 
        class="form-control" 
        placeholder="EMail"         
        aria-label="EMail" 
        aria-describedby="basic-addon1"/>
    </div>
    <div *ngIf="siF.submitted && eMail.invalid" class="alert alert-danger col-12 px-2 py-0 mx-3 my-0">
      Please enter valid email ID!
    </div>
  </div>
  <div class="row">
    <div class="col-12 fs-6 m-1">Password</div>
    <div class="input-group col-12 m-1">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
      <input 
        name="password" 
        type="password" 
        required maxlength="50" [(ngModel)]="user.password" #password="ngModel"
        class="form-control" 
        placeholder="Password" 
        aria-label="Password" 
        aria-describedby="basic-addon1"/>
    </div>
    <div *ngIf="siF.submitted && password.invalid" class="alert alert-danger col-12 px-2 py-0 mx-3 my-0">
      Please enter valid password!
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 fs-6 m-1 text-center">
      <button class="btn btn-light text-dark shadow-lg fw-bold">Sign In</button>
    </div>
  </div>
</form>