<div class="row mb-2">
  <div class="col-12 fs-6 m-1">Email ID</div>
  <div class="input-group col-12 m-1">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
    <input type="text" class="form-control" placeholder="Email ID" aria-label="Email ID" aria-describedby="basic-addon1">
  </div>
</div>
<div class="row">
  <div class="col-12 fs-6 m-1">Password</div>
  <div class="input-group col-12 m-1">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
    <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
  </div>
</div>
<div class="row mt-4">
  <div class="col-12 fs-6 m-1 text-center">
    <button class="btn btn-light text-dark shadow-lg fw-bold">Sign In</button>
  </div>
</div>