  <!-- Footer -->
  <footer class="text-center text-lg-start mt-5 bg-dark">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-12 col-lg-4 mx-auto mb-4">
            <!-- Content -->
            <h3 class="fw-bold mb-4">
              PickItUp
            </h3>
            <p class="d-none d-lg-block">
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-12 col-sm-6 col-lg-4 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p class="mb-0">
              <a href="#!" class="text-reset">Canvas</a>
            </p>
            <p class="mb-0">
              <a href="#!" class="text-reset">Photo Tiles</a>
            </p>
            <p class="mb-0">
              <a href="#!" class="text-reset">Photo Books</a>
            </p>
            <p class="mb-0">
              <a href="#!" class="text-reset">Diary</a>
            </p>
            <p class="mb-0">
              <a href="#!" class="text-reset">Calendar</a>
            </p>
            <p class="mb-0">
              <a href="#!" class="text-reset">Post Cards</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-12 col-sm-6 col-lg-4 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fa fa-home me-3"></i>New York, NY 10012, US</p>
            <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
            <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>      
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <!-- <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  
    <div class="modal fade" id="exampleModal" tabindex="-1"> 
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg text-light rounded-3">
          <div class="modal-header text-center border-bottom-0">
            <p class="col-12 modal-title text-center fs-3 fw-bold">Login</p>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-12 fs-6 m-1">User Name</div>
                <div class="input-group col-12 m-1">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="row">
                <div class="col-12 fs-6 m-1">Password</div>
                <div class="input-group col-12 m-1">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-12 fs-6 m-1 text-center"><button class="btn btn-light text-dark shadow-lg fw-bold">Sign In</button></div>
              </div>
              <div class="row m-3">
                <div class="col-12 fs-6 m-1 text-center">Or Sign In Using</div>
                <div class="col-12 fs-1 m-1 text-center">
                  <i class="fa fa-facebook-square p-2 blue-color rounded-3 shadow bg-light me-2 social"></i>
                  <i class="fa fa-google p-2 red-color rounded-3 shadow bg-light social"></i>
                </div>
              </div>
              <div class="row m-3  justify-content-center text-dark">
                <div class="col-12 fs-5 p-1 text-center bg-light w-75 rounded-pill fw-bold w-25">PicItUp</div>
              </div>
              <div class="row m-3">
                <div class="col-12 fs-6 m-1 text-center">Don't have an account yet?</div>
                <div class="col-12 fs-6 m-1 text-center"><button class="btn btn-link btn-lg">Sign Up</button></div>
              </div>            
            </div>
          </div>
          <div class="modal-footer border-top-0">
            <!-- <button class="btn btn-primary text-light rounded-0 fw-bold">Sign In</button> -->
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>  