<ion-content>
  <app-header></app-header>

  <div class="container my-5 d-flex justify-content-center">
    <div class="card card-1">
      <div class="card-header bg-white">
        <div
          class="
            media
            flex-sm-row flex-column-reverse
            justify-content-between
            fw-bold
          "
        >
          My Orders
        </div>
      </div>
      <div class="card-body">
        <div *ngFor="let order of orderList; index as i" class="row mb-3">
          <app-photos [order]="order" [index]="i"></app-photos>
          <div class="col">
            <div class="card card-2 item-card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body text-right">
                    <div class="row">
                      <div class="col-6 col-sm-4 text-center">
                        <div
                          style="background-image: linear-gradient(rgba(0,0,0, 0.36),rgba(0,0,0, 0.20)),url('assets/images/cards/{{getFileName(order.itemName)}}');"
                          class="
                            mb-0
                            fw-bold
                            prod-img
                            my-2
                            w-100
                            rounded-3
                            pt-5
                          "
                        >
                          {{order.itemName}}
                        </div>
                      </div>
                      <!-- <div class="col-3">
                        <small>Golden Rim </small>
                      </div> -->
                      <div class="col-6 col-sm-4 py-4 text-center">
                        <button
                          class="btn btn-link fw-bold"
                          data-bs-toggle="modal"
                          [attr.data-bs-target]="'#photoModal-'+i"
                          aria-expanded="false"
                          role="button"
                          type="submit"
                        >
                          View {{order.units}} Photos
                        </button>
                      </div>
                      <!-- <div class="col-2"><small>Qty : 1</small></div> -->
                      <div class="col-12 col-sm-4 my-4 text-center">
                        <span class="rounded-3 p-1 order-amount"
                          >₹ {{order.totalPrice.toFixed(2) }}</span
                        >
                      </div>
                      <div class="col-12 py-4 text-center d-none">
                        <button
                          class="btn btn-link fw-bold"
                          data-bs-toggle="modal"
                          [attr.data-bs-target]="'#photoModal-'+i"
                          aria-expanded="false"
                          role="button"
                          type="submit"
                        >
                          View Order Items
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-3" />
                <div class="row">
                  <div class="col mb-3 justify-content-center text-center">
                    <small class="fw-bold"> Order Status : </small>
                    <small class="status rounded-3 p-1 mt-2">
                      {{order.orderStatus}}
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>

  <app-login></app-login>

  <app-recover-password></app-recover-password>

  <app-verify-otp></app-verify-otp>
</ion-content>
