@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.modal {
  z-index: 2000 !important;
}

.icon-box {
  font-size: 5rem;
}

.error-bg {
  background-color: #f15e5e;
}
.succ-bg {
  background-color: #47c9a2;
}

.modal-body {
  background-color: #ffffff;
  color: #000000 !important;
}

.modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.btn-outline {
  color: black !important;
  border-color: black;
}

.modal .modal-dialog {
  width: 100%;
}

.modal-header {
  color: #4997e2;
}

.cust-det {
  color: #fff !important;
  background-color: #4997e2;
}
