.btn-link {
  text-decoration: none;
}
.carousel {
  max-height: 500px;
}

.carousel-item {
  img {
    object-fit: cover;
    max-width:auto;
    max-height:450px; 
  }
}

.carousel-caption {
  font-weight: 900;
  background-color: rgba(35, 119, 148, 0.6);   
}