  <app-alert></app-alert>
  <app-spinner></app-spinner>
  <!-- Top Rinbbon Starts -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark bs-danger">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand fw-bolder ms-2 ms-md-5" href="#">PicItUp</a>
      <div class="flex-row-reverse me-2 mt-2 d-block d-md-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <button class="bg-transparent"><i class="fa fa-user-circle fs-3"></i></button>          
      </div>
      <div class="flex-row-reverse me-5 mt-2 d-none d-md-block">
        <div class="row">
          <div class="col text-secondary fw-bolder">
            Login / Signup
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-link fw-bold "  data-bs-toggle="modal" data-bs-target="#exampleModal" type="submit">My Account <i class="fa fa-angle-down"></i></button>
          </div>
        </div>          
      </div>  
    </div>
  </nav>
<!-- Top Ribbon Ends -->

<!-- Nav Bar Starts -->
<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 px-lg-5">
  <div class="container-fluid">        
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item me-5">
          <a class="nav-link active text-info" aria-current="page" href="#"><span class="fw-bold">Home</span></a>
        </li>
        <li class="nav-item  me-5">
          <a class="nav-link fw-bold" href="#">Photo Tiles</a>
        </li>
        <li class="nav-item  me-5">
          <a class="nav-link fw-bold" href="#">Photo Books</a>
        </li>
        <li class="nav-item  me-5">
          <a class="nav-link fw-bold" href="#">Calendars</a>
        </li>       
        <li class="nav-item  me-5">
          <a class="nav-link fw-bold" href="#">Diary</a>
        </li>       
        <li class="nav-item  me-5">
          <a class="nav-link fw-bold" href="#">Post Cards</a>
        </li>   
        <li class="nav-item  me-5">
          <a class="nav-link fw-bold" href="#">Canvas</a>
        </li>     
      </ul>
    </div>
  </div>
</nav>
<!-- Nav Bar Ends -->